.form{

    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 40%;*/
    /*margin-top: -50px;*/
    /*margin-left: -50px;*/
    /*z-index: 1;*/



    z-index: 1000;
    position: absolute;

    top: 5px;

    right: 5px;
}